services:
  vault:
    image: hashicorp/vault:{{ vault_image_tag }}
    container_name: vault
    restart: unless-stopped
    
    cap_add:
      - IPC_LOCK
    
    environment:
      - VAULT_ADDR={{ vault_proto }}://127.0.0.1:{{ vault_port }}
      - VAULT_CLUSTER_ADDR={{ vault_proto }}://127.0.0.1:{{ vault_api_port }}
      - VAULT_SKIP_VERIFY=true
    
    ports:
      - "{{ vault_port }}:{{ vault_port }}"

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vault.rule=Host(`vault.homelab`)"
      - "traefik.http.routers.vault.entrypoints=websecure"
      - "traefik.http.routers.vault.tls.certresolver=stepca"
      - "traefik.http.services.vault.loadbalancer.server.port={{ vault_port }}"
      - "traefik.http.services.vault.loadbalancer.server.scheme={{ vault_proto }}"
      - "traefik.http.services.vault.loadBalancer.serversTransport=stepca@file"

    volumes:
      - {{ vault_config_dir }}:/vault/config:ro
      - {{ vault_data_dir }}:/vault/data
      - {{ vault_tls_dir }}:/vault/tls:ro

    networks:
      - {{ traefik_docker_network }}

    command: server

networks:
  {{ traefik_docker_network }}:
    external: true