services:
  garage:
    image: "dxflrs/garage:{{ garage_image_tag }}"
    container_name: garage
    restart: unless-stopped

    ports:
      - "{{ garage_s3_port }}:{{ garage_s3_port }}"
      - "{{ garage_rpc_port }}:{{ garage_rpc_port }}"
      - "{{ garage_web_port }}:{{ garage_web_port }}"
      - "{{ garage_admin_port }}:{{ garage_admin_port }}"

    volumes:
      - "{{ garage_config_dir }}/garage.toml:/etc/garage.toml:ro"
      - "{{ garage_admin_token_file }}:/etc/garage/admin.token:ro"
      - "{{ garage_rpc_secret_file }}:/etc/garage/rpc.secret:ro"
      - "{{ garage_meta_dir }}:/var/lib/garage/meta"
      - "{{ garage_data_dir }}:/var/lib/garage/data"

  garage-ui:
    image: "noooste/garage-ui:{{ garage_ui_image_tag }}"
    container_name: garage-ui
    restart: unless-stopped
    depends_on:
      - garage

    ports:
      - "{{ garage_ui_port }}:{{ garage_ui_internal_port }}"

    volumes:
      - "{{ garage_config_dir }}/config.yaml:/app/config.yaml:ro"

    environment:
      GARAGE_UI_GARAGE_ADMIN_TOKEN: "{{ garage_admin_token }}"