metadata_dir = "/var/lib/garage/meta"
data_dir     = "/var/lib/garage/data"

db_engine = "sqlite"

replication_factor = {{ garage_replication_factor }}

rpc_bind_addr   = "[::]:{{ garage_rpc_port }}"
rpc_public_addr = "127.0.0.1:{{ garage_rpc_port }}"
rpc_secret_file = "/etc/garage/rpc.secret"

[s3_web]
bind_addr = "[::]:{{ garage_web_port }}"
root_domain = ".web.garage.localhost"
index = "index.html"

[s3_api]
s3_region     = "{{ garage_s3_region }}"
api_bind_addr = "[::]:{{ garage_s3_port }}"

[admin]
api_bind_addr    = "[::]:{{ garage_admin_port }}"
admin_token_file = "/etc/garage/admin.token"